root = true

# All files
[*]
indent_style = space
insert_final_newline = true

[*.{cs,razor}]
indent_size = 4

# Forward CancellationToken to methods that accept one
dotnet_diagnostic.CA2016.severity = warning
csharp_preferred_modifier_order = public, protected, override, internal, file, new, required, private, virtual, sealed, static, async, extern, unsafe, volatile, readonly, abstract:suggestion
csharp_preserve_single_line_blocks = true
csharp_indent_braces = false
csharp_new_line_before_open_brace = all
csharp_prefer_braces = true:warning
csharp_sort_usings_with_system_first = true
csharp_space_around_alias_eq = true
csharp_blank_lines_around_invocable = 1
csharp_empty_block_style = multiline
csharp_indent_invocation_pars = inside
csharp_keep_existing_enum_arrangement = false
csharp_max_line_length = 300
csharp_remove_blank_lines_near_braces_in_declarations = true
csharp_space_before_trailing_comment = false
csharp_wrap_after_declaration_lpar = true
csharp_wrap_parameters_style = chop_if_long
csharp_space_within_empty_braces = true
csharp_blank_lines_after_block_statements = 1
csharp_keep_blank_lines_in_code = 1
csharp_blank_lines_around_property = 1
csharp_blank_lines_after_multiline_statements = 1
csharp_blank_lines_after_start_comment = 0
csharp_blank_lines_around_single_line_auto_property = 1
csharp_braces_for_ifelse = required
csharp_braces_for_for = required
csharp_braces_for_foreach = required
csharp_braces_for_while = required
csharp_braces_for_using = required
csharp_braces_for_lock = required
csharp_braces_for_fixed = required
csharp_indent_preprocessor_other = do_not_change
csharp_instance_members_qualify_declared_in =
csharp_keep_existing_attribute_arrangement = false
csharp_max_attribute_length_for_same_line = 0
csharp_parentheses_redundancy_style = remove
csharp_place_accessorholder_attribute_on_same_line = false
csharp_place_expr_property_on_single_line = true
csharp_place_method_attribute_on_same_line = false
csharp_wrap_chained_binary_expressions = chop_if_long
csharp_wrap_chained_method_calls = wrap_if_long
csharp_keep_existing_invocation_parens_arrangement = true
csharp_keep_existing_linebreaks = true
csharp_align_multiline_calls_chain = true
csharp_indent_chained_method_calls = true
csharp_outdent_dots = true
csharp_wrap_object_and_collection_initializer_style = chop_always
csharp_indent_inside_initializer_braces = true
csharp_trailing_comma_in_multiline_lists = true
csharp_trailing_comma_in_singleline_lists = false

# JavaScript files
[*.js]
indent_size = 4

# Xml files
[{*.xml,*.slnx,*.props,*.targets,*.csproj}]
indent_size = 2
